.about-container {
    margin-top: 4em;
    width: 50% !important;
}

.about-contact {
    width: 30% !important;
    text-align: center;
}

.about-header {
    color: rgb(231, 159, 49) !important;
}

